<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <style>
        .content {
            max-width: 600px;
            margin: white;
            background: white;
            padding: 10px;
            border: 1px solid black;
        }
        h3{
            font-family: 'Noto Sans JP', sans-serif;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
</head>
<body style="background-color: coral;">
    <div align="center">
        <div class="content">
            <h3>Country: {{weather.coun}} and City: {{ weather.city }}</h3>
            <h3>Longitude: {{weather.longitude}} and Latitude: {{weather.latitude}}</h3>
            <h3>Today's Average Temperature is {{ weather.temperature}} F</h3>
            <h3>Maximum temperature is {{weather.max_temp}}F & Minimum temperature is {{weather.min_temp}}F</h3>
            <h3>Today's humidity in {{weather.city}} is {{weather.humidity}}</h3>
            <h3>Today's windspeed is {{weather.speed}} m/s</h3>        
            <h3>Description : {{weather.description}}</h3> 
            <h3>Have A Nice Day!!</h3>
        </div> 
    </div> 
</body>
</html>
